<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Apya - Development - French.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Apya - Development.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Apya - Production.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Apya - UI Tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>45AABA951EF607C3006C268E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45BC29401DA18249000C54BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45BC29541DA18249000C54BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45BC295F1DA18249000C54BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45ECDA5D1E243A6900E999D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
